<mat-card class="project-card">
  <mat-card-content>
    <div class="project-card__top">
      <span class="project-card__name">{{ project.name }}</span>
      <div class="project-card__top-chips">
        @if (project.tags.length) {
          @for (tag of project.tags; track tag) {
            <mat-chip class="tag-chip" disabled>{{ tag }}</mat-chip>
          }
        }
        <mat-chip [class]="'chip-' + project.status" disabled>
          {{ project.status | statusLabel }}
        </mat-chip>
      </div>
    </div>

    <p class="project-card__desc">{{ project.description }}</p>

    <div class="project-card__meta">
      <div class="project-card__meta-left">
        <div class="project-card__owner">
          <span
            class="project-card__avatar"
            [style.background]="project.owner.avatarColor"
          >{{ project.owner.initials }}</span>
          <span>{{ project.owner.name }}</span>
        </div>

        <span class="project-card__tasks">{{ project.tasksDone }}/{{ project.tasksTotal }} tasks</span>
      </div>
        <span class="project-card__due">Due {{ project.dueDate | date: 'MMM d' }}</span>
    </div>
  </mat-card-content>

  <mat-progress-bar class="project-card__progress-bar" mode="determinate" [value]="project.progress * 100" />
</mat-card>