<mat-card class="activity-feed-section" [class.activity-feed-section--loaded]="!loading">
  <mat-card-header>
    <mat-card-title>Recent activity</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    @if (!loading && !activity().length) {
      <p>No recent activity.</p>
    } @else {
      @for (item of getActivityItems(); track item.id) {
        <table class="activity-item">
          <tr>
            <td>
              <mat-icon class="icon" [color]="activityIconColor(item.type)" [appSkeleton]="{ loading: loading, type: 'icon' }">
                {{ activityIcon(item.type) }}
              </mat-icon>
            </td>
            <td>
              <span class="title" [appSkeleton]="{ loading: loading, type: 'text' }">
                <strong>{{ item.actor.name }}</strong>
                {{ item.message }}
                on
                <strong>{{ item.projectName }}</strong>
              </span>
            </td>
          </tr>
          <tr>
            <td></td>
            <td colspan="2">
              <span class="meta" [appSkeleton]="{ loading: loading, type: 'text' }">{{
                activityMetaLine(item.timestamp)
              }}</span>
            </td>
          </tr>
        </table>
        @if (!$last) {
          <mat-divider />
        }
      }
    }
  </mat-card-content>
</mat-card>
