.dashboard-container {
  display: flex;
  flex-direction: column;
  gap: var(--space-6);
}

.projects-and-activity-feed {
  display: flex;
  gap: var(--space-6);
}

@media (max-width: 768px) {
  .projects-and-activity-feed {
    flex-direction: column;
  }
}

.projects-section {
  flex: 3;
}

.activity-feed-section {
  flex: 1;
}